<div>

    <div id="error" class="alert alert-danger" ng-if="error">
        Error!
        <pre>
            {{error.code}}
            {{error.error}}
            {{error.reason}}
        </pre>
    </div>

    <form class="form-signin" role="form" ng-submit="submit(username, password)">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" ng-model="username" class="form-control" placeholder="Username" autocomplete="off" required autofocus>
        <input type="password" ng-model="password" class="form-control" placeholder="Password" autocomplete="off" required>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
    </form>

</div>
